/notebooks/Results/
/notebooks/messaging/
/notebooks/.ipynb_checkpoints/
/notebooks/JFGS.json
/notebooks/plots/
/notebooks/Outputs/*
/notebooks/Sequence_based_recommendation_files/
/notebooks/Output_notebooks/*
/virtualenvs/*
.ipynb_checkpoints
*.pyc
*.dat
*.ini
*.json
*.joblib
*.jpeg
*.csv
*.txt
*.inter
*.user
*.item
log/
saved/
datasets/