[submodule "libs/CaseRecommender"]
	path = Sources/CaseRecommender
	url = https://github.com/guedes-joaofelipe/CaseRecommender.git
[submodule "libs/daisyRec"]
	path = libs/daisyRec
	url = https://github.com/AmazingDD/daisyRec.git
[submodule "libs/RecBole"]
	path = libs/RecBole
	url = https://github.com/guedes-joaofelipe/RecBole.git
[submodule "libs/RecDatasets"]
	path = libs/RecDatasets
	url = https://github.com/guedes-joaofelipe/RecDatasets
