/Notebooks/Results/
/Notebooks/messaging/
/Notebooks/.ipynb_checkpoints/
/Notebooks/JFGS.json
/Notebooks/Outputs/*
/Notebooks/Output_notebooks/*
/Datasets/*
/Sources/datasets/*
/virtualenvs/*
.ipynb_checkpoints
*.pyc
*.dat
*.ini
*.json
*.joblib
*.jpeg
*.csv
*.txt
*.inter
*.user
*.item
log/
saved/